@model CricInfo.Models.Ground

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ground</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Availabity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Availabity)
        </dd>

    </dl>
</div>
<div>
    <div>
        <iframe src="@Model.Location" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        @*<iframe width="450" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=33.624064,73.05216&amp;key=AIzaSyDF5lu9AaDT6XlLmMoFb3g0yJvVNGAWlZo"></iframe>*@
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
